body{
    background-color: rgb(209, 209, 209);
    display: flex;
    justify-content: center;
}
#board{
    margin-top: 24px;
    width: 600px;
    height: 600px;
    background-color: rgb(240, 238, 236);
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    border: 1px solid black;
}
button{
    height: 50px;
    width: 150px;
    margin-top: 19.2%;
    margin-left: 50px;
    margin-right: 50px;
}
p{
    margin-top: 20%;
    margin-left: 50px;
    margin-right: 50px;
}
.item{
    text-align: center;
    padding-top: 37%;
    font-size: 50px;
    
}